# Symbols folder
.alpackages/
.snapshots/
.alcache/
.altemplates/

# AL Language extension local cache/config
.vscode/.alcache/
.vscode/.altemplates/
.vscode/launch.json
.vscode/rad.json

# Compiled app package
*.app
